@import url('https://fonts.googleapis.com/css?family=Play');


body {
    font-family: Play;
    text-align: center;
    color: gray;
    background-color: antiquewhite;
}

.button {
    font-family: Play;
}

#canvas {
    width: 100vw;
    height: 100vh;
}

#poem {
    display: none;
}